Library/
obj/
Packages/
Logs/
ProjectSettings/
UserSettings/
Assembly-CSharp.csproj
Factorio.sln
.vsconfig
/.vs
*.meta
*.unity
*.pidb.meta


ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.pidb.meta
*.meta